<section class="block container">
  <header class="block__header">
    <h2>Host on the cloud to keep groing</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, esse.</p>
  </header>
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy" />
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere cumque
        sit ipsum asperiores, quasi nesciunt eum esse dicta deserunt quam.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy2X.webp 2x"
      />
      <source
        type="image/jpeg"
        srcset="images/easy.jpeg 1x, images/easy2X.jpeg 2x"
      />
      <img class="feature__image" src="images/easy2X.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy" />
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere cumque
        sit ipsum asperiores, quasi nesciunt eum esse dicta deserunt quam.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy2X.webp 2x"
      />
      <source
        type="image/jpeg"
        srcset="images/easy.jpeg 1x, images/easy2X.jpeg 2x"
      />
      <img class="feature__image" src="images/easy2X.jpg" alt="" />
    </picture>
  </article>
</section>
